.bgtitle {
    background-color: #708090ff;
    font-size: 24px; 
}

.text-white {
    padding-top: 10px;
}

.btnadd {
    background-color: #890e54ff;
    font-size: 18px;
    color: white;
}

.bgtable {
    background-color: #890e54ff;
    color: white;
}

.btnspace {
    margin-bottom: -15px;
}


th {
    position: relative;
    cursor: pointer; 
}
  
.sort-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    display: inline-block;
}
  
.arrow-up,
.arrow-down {
    visibility: hidden;
}
  
th.sorted-asc .arrow-up,
th.sorted-desc .arrow-down {
    visibility: visible;
}