<div class="d-flex justify-content-center align-items-center bgtitle">
    <p class="text-white">User List</p>
</div>

<div class="d-flex justify-content-center align-items-center mt-5">
    <button class="btn btnadd" routerLink="/adduser">Add User</button>
</div>

<div class="my-5 mx-5">
        <table class="table table-bordered table-striped">
            <thead class="bgtable">
                <tr>
                    <th (click)="sort('userType')" scope="col" [class.sorted-asc]="currentSort.field === 'userType' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'userType' && currentSort.direction === 'desc'">
                        User Type
                        <span class="sort-arrow" *ngIf="currentSort.field === 'userType'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th (click)="sort('name')" scope="col" [class.sorted-asc]="currentSort.field === 'name' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'name' && currentSort.direction === 'desc'">
                        Name
                        <span class="sort-arrow" *ngIf="currentSort.field === 'name'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th (click)="sort('firstname')"scope="col" [class.sorted-asc]="currentSort.field === 'firstname' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'firstname' && currentSort.direction === 'desc'">
                        First Name
                        <span class="sort-arrow" *ngIf="currentSort.field === 'firstname'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th (click)="sort('email')" scope="col" [class.sorted-asc]="currentSort.field === 'email' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'email' && currentSort.direction === 'desc'">
                        Email
                        <span class="sort-arrow" *ngIf="currentSort.field === 'email'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td><span *ngIf="user.userType !== null">{{ user.userType.label }}</span></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td><ul class="text-center list-inline">
                        <li class="list-inline-item"><a [routerLink]="['/edituser', user.id]" class="btn btn-info btnspace">Edit</a></li>
                        <li class="list-inline-item"><button (click)="deleteUser(user.id)" class="btn btn-danger btnspace">Delete</button></li>
                    </ul></td>
                </tr>
            </tbody>
        </table>
</div>
