<div class="d-flex justify-content-center align-items-center bgtitle">
    <p class="text-white">Add User Type</p>
</div>

<div class="d-flex justify-content-center align-items-center mt-5">
    <button class="btn btnadd" routerLink="/addusertype">Add User Type</button>
</div>

<div class="my-5 mx-5">

        <table class="table table-bordered table-striped">
            <thead class="bgtable">
                <tr>
                    <th (click)="sort('id')" scope="col" [class.sorted-asc]="currentSort.field === 'id' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'id' && currentSort.direction === 'desc'">
                        Id
                        <span class="sort-arrow" *ngIf="currentSort.field === 'id'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th (click)="sort('label')" scope="col" [class.sorted-asc]="currentSort.field === 'label' && currentSort.direction === 'asc'" 
                    [class.sorted-desc]="currentSort.field === 'label' && currentSort.direction === 'desc'">
                        User Type
                        <span class="sort-arrow" *ngIf="currentSort.field === 'label'">
                            <i *ngIf="currentSort.direction === 'asc'" class="arrow-up">↑</i>
                            <i *ngIf="currentSort.direction === 'desc'" class="arrow-down">↓</i>
                        </span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usertype of usertypes">
                    <td>{{ usertype.id }}</td>
                    <td>{{ usertype.label }}</td>
                    <td><ul class="text-center list-inline">
                        <li class="list-inline-item"><a [routerLink]="['/editusertype', usertype.id]" class="btn btn-info btnspace">Edit</a></li>
                        <li class="list-inline-item"><button (click)="deleteUsertype(usertype.id)" class="btn btn-danger btnspace">Delete</button></li>
                    </ul></td>
                </tr>
            </tbody>
        </table>

</div>