<div class="d-flex justify-content-center align-items-center bgtitle">
    <p class="text-white">Add User Type</p>
</div>

<div class="d-flex justify-content-center align-items-center mt-5">
    <button class="btn btnadd" routerLink="/addusertype">Add User Type</button>
</div>

<div class="my-5 mx-5">

        <table class="table table-bordered table-striped">
            <thead class="bgtable">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User Type</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usertype of usertypes">
                    <td>{{ usertype.id }}</td>
                    <td>{{ usertype.label }}</td>
                    <td><ul class="text-center list-inline">
                        <li class="list-inline-item"><a [routerLink]="['/editusertype', usertype.id]" class="btn btn-info btnspace">Edit</a></li>
                        <li class="list-inline-item"><button (click)="deleteUsertype(usertype.id)" class="btn btn-danger btnspace">Delete</button></li>
                    </ul></td>
                </tr>
            </tbody>
        </table>

</div>