<div class="d-flex justify-content-center align-items-center bgtitle">
    <p class="text-white">Add/Edit User Type</p>
</div>

<div class="my-5 d-flex justify-content-center">

        <form (ngSubmit)="onSubmit()" #userTypeForm="ngForm">
            <div class="form-group">
                <input type="text" [(ngModel)]="usertype.label"
                class="" id="label" name="label" placeholder="User Type"
                required #label="ngModel">
            </div>
            
            <button type="submit" class="btn btnstyle mt-5">Submit</button>
        </form>

</div>
